.square {
  background: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  width: 100px;
  height: 100px;
  border: solid 1px;
}

.board {
  display: flex;
  flex-direction: column;
}

.boards {
  display: flex;
  flex-direction: row;
}

.playerName {
  margin: auto auto;
  font-weight: normal;
}

.goalText {
  font-size: 200px;
}
